html,
body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card {
  position: relative;
  top: 150px;
  width: 500px;
  height: 50px;
  line-height: 3px;
  font-weight: 700;
  border: 1px solid black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}


/* #frase1 {
  position: relative;
  top: 150px;
  margin: 0;
  animation: nuovafrase 10s ease infinite 2s;
}
#frase2 {
  animation-delay: 2s;
}
#frase3 {
  animation-delay: 4s;
} */

.frasi {
  position: absolute;
  left: 180px;
  top: -150px;
  width: 100%;
}
.card {
  position: relative;
  border: 1px, solid black;
}

.frasi i {
  color: #7690a2;
  position: absolute;
  top: 62px;
  overflow: hidden;
  animation: nuovafrase 6s linear infinite 0s;
}

#frase1 {
  transform: translateY(50px);
}
#frase2 {
  transform: translateY(25px);
}

@keyframes nuovafrase {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
